<div class="center">
<h1> BlackJack </h1>
  <h2> Dealer's hand </h2>
      <div class="hand-container">
       <% if @players.first.status == :stand%>
        <% @dealer.hand.each do |card| %>
              <div class="hand-box">
                <%= deck_card_to_view(card) %>
              </div>
        <% end %>
        <br><h3>Value of hand: <%= @dealer.display_total %></h3>
        <% else %>
            <div class="hand-box">
              <%= deck_card_to_view(session[:dealer].show_first) %>
              <%= image_tag "Deck/deck_cover.png", size: "150" %>
            </div>
        <% end %>
       </div>

  <% if [:blackjack, :bust, :stand].include?(@players.first.status)%>
      <h3>See your score!</h3>
      <%= link_to  users_path, :class => "btn btn-success" do %>
          <i class="glyphicon glyphicon-list-alt"></i> Leaderboard!
      <% end %>
  <% end %>

  <h2> Your hand</h2>
  <div class="hand-container">
    <% @players.first.hand.each do |card| %>
        <div class="hand-box">
          <%= deck_card_to_view(card) %>
        </div>
    <% end %>
    <br> <h3> Value of hand: <%= @players.first.display_total %></h3>
  </div>
<% if [:blackjack, :bust, :stand].include?(@players.first.status)%>
      <% 	dealer = @dealer
            players_results = dealer.winners(@players)
            result = players_results[@players.first]
         if result == "won"
           @user.wins += 1
           @user.save
         elsif result == "loss"
           @user.losses += 1
           @user.save
         elsif result == "tie"
           @user.ties += 1
           @user.save
         end
      %>
      <% if result == "won" %>
          <h3>You have won!</h3>
      <% elsif result == "loss" %>
         <h3>You have lost!</h3>
      <% elsif result == "tie" %>
         <h3> You have tied!</h3>
      <% end %>

      <%= link_to setup_games_path, :class => "btn btn-success" do %>
          <i class="glyphicon glyphicon-repeat"></i> Play again?
      <% end %>
<% else %>
      <br>
      <%= link_to hit_games_path, :class => "btn btn-warning" do %>
          <i class="glyphicon glyphicon-plus"></i> Hit
      <% end %>
      <%= link_to stand_games_path, :class => "btn btn-danger" do %>
          <i class="glyphicon glyphicon-record"></i> Stand
      <% end %>
<% end %>
</div>